 $mycolor:#466e82;
 $primarycolor:#fff;
  $secondarycolor:#7D3269;

*{
  box-sizing: inherit;
}
body {
  margin: 5px;
  padding: 0;
  background: $primarycolor;
}
.Main{
  padding: 0 0 0 152px;
  margin-bottom: 39px;
}
.container{
  margin-top: 0;
  margin-left: 60px;
  margin-right: 30px;
}
.mainDetails{
  display: flex;
  flex-flow: row;
  padding-left: 10px;
  margin-left: 100px;
  margin-bottom: 0px;
  font-size: 20px;
  flex: 1 0 100%;
 
  margin-right: -15px;
 
}    
.Main .Main__wrapper{
 padding: 11px;
display: flex;
 
}
.container .mainDetails .Main h5{
  color: $mycolor;
  margin: 0px 3px 0;
  padding: 0 0 0 11px;
  font-size: 20px;
  font-style: italic;
  
}
.container .mainDetails .Main hr{
  width: 127px;
  height: 1px;
  background-color:#666666;
  text-align: left;
  margin:14px 0px 0px -98px;
  
 }
 .Main .Main__icon{
  display: flex;
  padding-left: 38px;
  margin-top: -10px;  
 }
.container .mainDetails .Main h1{
  display: block;
  font-size: 36px;
  margin:13px -50px 0;
  font-weight: bold;
}

.container .mainDetails .Main p{
  font-size: 21px;
  letter-spacing: 1.05px;
  color: #4D4D4D;
  margin: 24px -50px 0;
} 

.mainDetails .btn{
  float: left;
  margin-left: 100px;
  margin-top: 41px;
}   
.container1{
  display: flex;
  width: 200vw;
  height: 90vh;
  margin: 70px auto 0;
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap; 
  overflow:visible;
}
.container1 .box{
  position: relative;
  width: 300px;
  height: 90%;
  margin-left: 10px;
  box-sizing: border-box;
  display: inline-block;
  overflow: visible;
}
// .slick-prev:before,
//     .slick-next:before {
//       color: black;
//     }
.control-c {
  width: 30px;
  height: 30px;
  border-radius: 1px;
  border-color:$secondarycolor;
}   
.container1 .box .imgBox{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition:all .5s ease;
}
.container1 .box .imgBox img{
  width: 120%;
  height: 110%;
  transition: 0.5s all ease-in-out;

}
.container1 .box:hover .imgBox img{
  width: 100%;
  height: 100%;
  transform: scale(1);
}
.container1 .box:hover .imgBox{
  height: 80%;
  transform:translate(0.9);
}

/*button-*/
button:hover {
  cursor: pointer;
}

button {
  // display: flex;
  background: transparent;
    outline: none;
    margin:120px 0px 44px 0.0125px;
    height: 40px;
    text-align: center;
    position: relative;
    border: 2px solid  $secondarycolor;
    color:  $secondarycolor;
    padding: 3px 35px;
    overflow: hidden;
}

/*button:before (after data-hover)*/
button:hover:before {
  opacity: 1;
  transform: translate(0, 0);
}

button:before {
  content: attr(data-hover);
  position: absolute;
  background:  $secondarycolor;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  padding: 15px;
  transition: all .3s ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
  box-sizing: border-box;
}

/*button div (button text before hover)*/
button:hover div {
  opacity: 0;
  padding-top: 5px;
  transform: translate3d(0,100%, 0)
}

button div {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 800;
  font-size: .8em;
  text-align: center;
  transition: all .3s ease-in-out;
 
}
/*details*/
.container1 .box .details{
  width: 80%;
  
  position: absolute;
  height: 100%;
  align-items: center;
  text-align: center;
  top:50px;
  left: 30px;    
  // bottom: 0;
  right: 10px;
  margin-top: 400px;
  margin-bottom: 10px;
  transform:scale(0.7);
  transition: 0.4s ease-in-out;
  padding: 42px 0 22px;
  overflow:visible;
  padding: auto;
}

.container1 .box:hover .details {
  background-color:  $primarycolor;
  box-sizing: border-box;
  transform:scale(1.1);
  
  
}
.container1 .box:hover .details .content{
    // box-shadow: 0 10px 25px 0 ;
  margin:10;
  z-index: 9;
  margin: -27px auto 0;
  
}

.container1 .box:hover .details .content h6 {
    text-align: center;
    margin-left: -40px;
  transform:scale(1);
  .content .content_icon{
 
    display: block;
    // margin-left:21px;
    z-index: 10;
  }
}
.container1 .box:hover .details .content hr {
    
  transform: scale(1);

}
.container1 .box:hover .details .content button {
    
  transform: scale(1);

}    
.container1 .box .details .content{
  position: absolute;
  align-items: center;
  transform: translate(-50);
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  color: rgb(82, 82, 82);
  overflow: visible;
  
}


.container1 .box .details .content h6{
  color:$mycolor;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 14px;
  text-align: center;
  margin-top: 0;
  transition: 0.4s ease-in-out;
  transform: scaleY(0);

}
.container1 .box .details .content hr{
  height: 2.2px;
  width: 83px;
  background-color: #666666;
  margin:21px 70px 0px;
  transition: all 0.4s ease-in-out;
  transform: scaleY(0);
}
.container1 .box .details .content h5{
  color: #000;
  font-size: 20px;
  margin: 20px 10px 10px;
  text-align: center;
  overflow:visible;
  background-color:  $primarycolor;
  box-sizing: content-box;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
   
}
/*inner button*/
.container1 .box .details .content button{  
  margin-top: 5px;
  margin-left: 20px;
  margin-right:10px;
  font-size:14px; 
  padding: 6.5px 19px;
  transition: 0.3s ease-in-out;
  transform: scaleY(0);
}



// /* Smartphones  */
 @media only screen and (max-device-width : 320px) {
   .mainDetails{
     padding-left: 18px;
     margin-left: -137px;
  
  }
  button {
    margin-top: 0px;
    margin-left: 203px;
     height: 25px;
  }
  }

    
